# Project exclude paths
/venv/

# Project exclude files:
val/Test-all_not_kunitz.fasta
model_validation/Train-all_not_kunitz1.fasta
model_validation/datasets_splitted/Test-all_notPF00014.fasta
model_validation/datasets_splitted/Train-all_notPF00014.fasta
model_validation/initial_datasets/all_notPF00014.fasta
